[submodule "libs/SwiftyJSON"]
	path = libs/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "libs/NavBarSections"]
	path = libs/NavBarSections
	url = https://github.com/f0go/NavBarSections.git
